@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

:root {
  --background-color: #0A0A0A;
  --gray-background-color: #121214;
  --font-color: #FFF;
  --font-subcolor: #5B5B5B;
  --main-color: #0BD361;
  --sub-main-color: #8257E5;
  --border-color: #2C2C2D;
  --shadow-color: rgba(0, 0, 0, 0.25);;
  --transparent: rgba(0, 0, 0, 0);
}

*{
  box-sizing: border-box;
}

body{
  color: #FFF;
  background-color: var(--background-color);
  font-family: 'Roboto', sans-serif;
  overflow-X: hidden;
  width: 100vw;
}

body::-webkit-scrollbar {
  width: 17px;
}

body::-webkit-scrollbar-track {
  background: var(--background-color);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--font-subcolor);    
  border-radius: 20px;
  border: 1px solid var(--border-color);
}